---
import Home from "../Components/Home.jsx"

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Sanitra Sakha Sagara</title>
  </head>
  <body class="lg:h-screen
	body-clr">
  	<Home client:load/>
  </body>
</html>

<style scoped>
  .body-clr {
    background: var(
      --BG-color,
      linear-gradient(180deg, #f0fbff 0%, #c4f0ff 100%)
    );
  }
  .text {
    background: -webkit-linear-gradient(#e3327f, #6f3c92);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-bg {
    background: radial-gradient(
      119.93% 181.27% at 47.48% 43.75%,
      #f877ae 2.12%,
      #e5327e 27.51%,
      #8b3c92 62.27%,
      #4e308d 100%
    );
  }
  .gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid #fff;
  }
</style>
