---

---


<div>
    <div
    class="navbar pl-[27px] pr-[27px] pt-[30px] flex flex-row justify-between"
    style="z-index: 999;"
  >
    <img src="/img/logo.png" alt="img_logo" />
    <i class="fa-brands fa-linkedin-in"></i>
  </div>
  <div class="mt-[47px] text-center flex flex-col z-1">
    <span class="text-[88px] font-[700] text"
      >We're Building Tomorrow's<br />Environment, Today</span
    >
    <span class="text-[20px] w-[653px] ml-auto mr-auto"
      >While our website undergoes maintenance to better serve you, our
      commitment to empowering businesses in achieving their sustainability
      goals remains unwavering.</span
    >
    <div
      class="mt-[48px] w-[187px] h-[48px] ml-auto mr-auto btn-bg rounded-[14px]"
    >
      <div class="flex
              flex-row
              pt-[12px]
              justify-center
              items-center">
        <span class="text-white
                  text-center
                  cursor-pointer">Contact Us</span>
        <i class="ml-1 fa-solid fa-caret-right text-[15px]
                  text-white"></i>
      </div>
    </div>
  </div>
  <div class="absolute
      z-[-1]
      imgs">
    <img
      src="/img/img_1.png"
      alt="img_astro"
      class="fixed
          bottom-0
          w-[100%]
          h-[100%]
          object-cover"
    />
    <img src="/img/img_2.png" alt="img_astro" class="fixed
          bottom-0" />
    <img
      src="/img/img_3.png"
      alt="img_astro"
      class="fixed
          bottom-0
          left-0
          right-0
          mx-auto"
    />
    <img
      src="/img/img_4.png"
      alt="img_astro"
      class="fixed
          bottom-0
          left-[-120px]
          z-[-1]
          right-0
          mx-auto"
    />
  </div>

</div>


<style scoped>
    .body-clr {
      background: var(
        --BG-color,
        linear-gradient(180deg, #f0fbff 0%, #c4f0ff 100%)
      );
    }
    .text {
      background: -webkit-linear-gradient(#e3327f, #6f3c92);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .btn-bg {
      background: radial-gradient(
        119.93% 181.27% at 47.48% 43.75%,
        #f877ae 2.12%,
        #e5327e 27.51%,
        #8b3c92 62.27%,
        #4e308d 100%
      );
    }
    .gray {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      border-right: 1px solid #fff;
    }
  </style>
  