@font-face {
  font-family: 'Gotham';
  src: url("/fonts/Gotham-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/Gotham-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrutaPro';
  src: url("/fonts/BrutaProRegular-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


.body-clr {
    background: var(
      --BG-color,
      linear-gradient(180deg, #f0fbff 0%, #c4f0ff 100%)
    );
  }
  .text {
    background: -webkit-linear-gradient(#e3327f, #6f3c92);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn-bg {
    background: radial-gradient(
      119.93% 181.27% at 47.48% 43.75%,
      #f877ae 2.12%,
      #e5327e 27.51%,
      #8b3c92 62.27%,
      #4e308d 100%
    );
  }
  
  .cursor{
    z-index: 999;
    position: fixed;
    background: rgba(255, 255, 255, 0.261);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    pointer-events: none;
    animation: colors 5s infinite;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  @keyframes colors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }


.bruta-pro{
  font-family: 'BrutaPro';
  font-weight: 700;

}
  
  .cursor:before{
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.297);
    width: 50px;
    height: 50px;
    opacity: 0.2;
    border-radius: 50%;
  }
.gotham-bold {
  font-family: 'Gotham';
  font-weight: bold;
}

.gotham-light {
  font-family: 'Gotham';
  font-weight: 300;
}

/* transition image to right */
.img_to_right {
    animation: img_to_right 1s ease-in-out;
    width: 100%;
  }
  
  @keyframes img_to_right {
    0% {
      position: fixed;
      right: 0;
    }
    100% {
      position: fixed;
      right: 100px;
      
    }
  }
  
  /* transition image to left */
  .img_to_left {
    width: 100%;
    animation: img_to_left 1s ease-in-out;
  }
  
  @keyframes img_to_left {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-100px);
      /* set width full */
      max-width: 100%;
    }
  }
  
  /* transition image to top */
  .img_to_top {
    animation: img_to_top 1s ease-in-out;
  }
  
  @keyframes img_to_top {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  
  /* transition image to bottom */
  .img_to_bottom {
    animation: img_to_bottom 1s ease-in-out;
  }
  
  @keyframes img_to_bottom {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(100px);
    }
  }
  
  /* transition image to top right */
  .img_to_top_right {
    animation: img_to_top_right 1s ease-in-out;
  }
  
  @keyframes img_to_top_right {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(100px, -100px);
    }
  }
  
  /* transition image to top left */
  .img_to_top_left {
    animation: img_to_top_left 1s ease-in-out;
  }
  
  @keyframes img_to_top_left {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(-100px, -100px);
    }
  }
  
  /* transition image to bottom right */
  .img_to_bottom_right {
    animation: img_to_bottom_right 1s ease-in-out;
  }
  
  @keyframes img_to_bottom_right {
    0% {
      transform: translate(0px, 0px);
    }
    100% {
      transform: translate(100px, 100px);
    }
}